PYTHON_VERSION=3.12.7
GEMINI_API_KEY=AQ.Ab8RN6KkQ_KcgYfUzyA
# GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.5-flash
# supabase
SUPABASE_URL=https://xcwqaakkddgym.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJlZiI6Inhjd3FhYWtqaXh3ZWDZDZIAhE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NQXcEdmh03eZwv_5f2L7c9oMdgFM